name: Release

on:
  push:
    tags:
    - 'v*'

permissions: 
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/setup-go@v5
      with:
        go-version: '1.25.0'
    - name: GoReleaser
      uses: goreleaser/goreleaser-action@v6
      with:
        version: latest
        distribution: goreleaser
        args: release --clean
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    # - name: Trigger Go module reindex (pkg.go.dev)
    #   run: |
    #     echo "Triggering Go module reindex at proxy.golang.org"
    #     curl -sSf "https://proxy.golang.org/github.com/${GITHUB_REPOSITORY,,}/@v/${GITHUB_REF_NAME}.info"